Importing the necassary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing the dataset

In [3]:

aviation_df = pd.read_csv('AviationData.csv', encoding="ISO-8859-1", low_memory=False)
state_codes_df = pd.read_csv ('USState_Codes.csv' , encoding="ISO-8859-1", low_memory=False)

Identifying the number of rows and columns in the dataset

In [5]:
aviation_df.shape

(88889, 31)

Analyzing the dataset

In [9]:
aviation_df.describe() #checking summary stastics

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [6]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [ ]:
#The data set has a total of 31 columns. The Event.Id,Investigation.Type,Accident.Number and Event.Date do not have any missing data.

Working on missing data

In [10]:
aviation_df.isnull()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False
88885,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
88886,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
88887,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,True,True,True,True
88888,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False

In [15]:
aviation_df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [19]:
aviation_df = aviation_df.dropna(subset=['Latitude', 'Longitude'])
aviation_df.isna().sum() #Checking whether latitude and longitude has been dropped.

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      5
Country                       1
Latitude                      0
Longitude                     0
Airport.Code              12074
Airport.Name              11813
Injury.Severity             233
Aircraft.damage             944
Aircraft.Category          8414
Registration.Number         446
Make                         22
Model                        28
Amateur.Built                31
Number.of.Engines          2228
Engine.Type                4317
FAR.Description            8515
Schedule                  31410
Purpose.of.flight          3301
Air.carrier               21652
Total.Fatal.Injuries       9244
Total.Serious.Injuries    10125
Total.Minor.Injuries       9605
Total.Uninjured            4713
Weather.Condition          1736
Broad.phase.of.flight     22882
Report.Status              3996
Publication.Date            605
dtype: int64

In [22]:
#Filling missing data for Weather.Condition ,Aircraft.damage and Broad.phase.of.flight with unknown
aviation_df["Weather.Condition"] = aviation_df["Weather.Condition"].fillna("Unknown")
aviation_df["Aircraft.damage"] = aviation_df["Aircraft.damage"].fillna("Unknown")
aviation_df["Broad.phase.of.flight"] = aviation_df["Broad.phase.of.flight"].fillna("Unknown")

In [23]:
aviation_df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      5
Country                       1
Latitude                      0
Longitude                     0
Airport.Code              12074
Airport.Name              11813
Injury.Severity             233
Aircraft.damage               0
Aircraft.Category          8414
Registration.Number         446
Make                         22
Model                        28
Amateur.Built                31
Number.of.Engines          2228
Engine.Type                4317
FAR.Description            8515
Schedule                  31410
Purpose.of.flight          3301
Air.carrier               21652
Total.Fatal.Injuries       9244
Total.Serious.Injuries    10125
Total.Minor.Injuries       9605
Total.Uninjured            4713
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status              3996
Publication.Date            605
dtype: int64

In [24]:
injury_columns = ["Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"]
aviation_df[injury_columns] = aviation_df[injury_columns].fillna("false")

In [25]:
aviation_df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      5
Country                       1
Latitude                      0
Longitude                     0
Airport.Code              12074
Airport.Name              11813
Injury.Severity             233
Aircraft.damage               0
Aircraft.Category          8414
Registration.Number         446
Make                         22
Model                        28
Amateur.Built                31
Number.of.Engines          2228
Engine.Type                4317
FAR.Description            8515
Schedule                  31410
Purpose.of.flight          3301
Air.carrier               21652
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition             0
Broad.phase.of.flight         0
Report.Status              3996
Publication.Date            605
dtype: int64

In [ ]:
engine_columns = [Number